[Service]
ExecStart=/usr/bin/docker run --rm --name bbox busybox /bin/sh -c "while true; do echo Hello World; sleep 3; done"
ExecStop=/usr/bin/docker stop -t 3 bbox
