[Unit]
Description=Apache Frontend
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name apache_%i -p %i:80 coreos/apache /usr/sbin/apache2ctl -D FOREGROUND
ExecStop=/usr/bin/docker stop -t 3 apache_%i

[X-Fleet]
X-Conflicts=*@%i.service
