[Unit]
Description=apache worker 3
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name %n -p 80 coreos/apache /usr/sbin/apache2ctl -D FOREGROUND
ExecStop=/usr/bin/docker stop -t 3 %n

