[Unit]
Description=Announce Apache worker3
BindsTo=apache-worker3.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/apache-worker/%n $(cat /etc/environment | grep COREOS_PRIVATE_IPV4 | awk -F= '{print $2}'):$(/usr/bin/docker port apache-worker3.service 80 | awk  -F: '{print $2}') --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/apache-worker/%n

[X-Fleet]
X-ConditionMachineOf=apache-worker3.service
