[Unit]
Description=app1
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name bb1 busybox /bin/sh -c "while true; do echo Hello World; sleep 3; done"
ExecStop=/usr/bin/docker kill bb1

[X-Fleet]
#MachineID comes from `fleetctl list-machines -l`, so you should modify it according to your env.
#X-ConditionMachineID=ba04d7eb5a624c72924ddb98028351d2
